#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Main";
            bindings = <
                &kp C_MUTE
                &kp C_PP
                &kp C_NEXT
                &kp C_PREV
                &kp C_VOL_UP
                &kp C_VOL_DN
                &kp C_STOP
            >;

            sensor-bindings = <
                &inc_dec_kp C_VOL_UP C_VOL_DN
                &inc_dec_kp C_BRI_UP C_BRI_DN
                &inc_dec_kp C_NEXT C_PREV
                &inc_dec_kp LEFT RIGHT
            >;
        };
    };
};
